@{
    Layout = null;
  var  seriesTitles = "The amazing spider man";
  var  issueNumber = 444;
  var  description = "<p>FInal issue of the real hero in New York the big Apple</p>"
  var artists = new string[]
{
                      "Script: Dan Slot",
                     "Pencils: Humberto Ramos",
                    "Inks : Alimero",
                     "Color: Chirs Midn"
       

};



}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
                          <h1>@seriesTitle</h1>
                         <h2>Issue #@issueNumber</h2>


                         <h5>Description</h5>
    
    </div>
</body>
</html>
